.main-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-wrapper {
    cursor: default;
    font-family: 'Ubuntu', sans-serif;

    margin-top: 20px;
    padding: 20px 30px;
    border-radius: 5px;
    background-color: #f6f9fb;
    box-shadow: 3px 3px 10px #737b8b;

    width: 550px;
    min-height: 100px;

    position: relative;
}

.user-email {
    font-weight: 300;
    margin-left: 20px;
    color: #737b8b;
}

.user-email:hover {
    cursor: pointer;
    text-decoration: underline;
}

.post-inner {
    line-height: 1.3;
}

.delete-icon {
    color: #737b8b;
    font-size: 20px;
    position: absolute;
    right: 30px;
    transition: transform 250ms ease-out;
}
.delete-icon:hover {
    cursor: pointer;
    transform: scale(1.3);
    transition: transform 250ms ease-out;
}