.header, .article, .side-info, .footer, .menu {
  padding: 20px;
  text-align: center;
  color: #fff
}

.header, .footer {
  background-color: black;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.article {
  background-color: blueviolet;
}
.main {
  display: flex;
  flex-direction: column;
}
.side-info {
  background-color: green;
  padding: 30px 20px;
  order: -1;
}
.menu {
  display: none;
  background-color: red;
}

.menu--isActive {
  display: block;
  position: absolute;
  width: 100%;
}

.header__menu-btn {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: blue;
  border: 2px solid #fff;
  
}

@media (min-width: 768px) {
  .menu {
    display: flex;
    align-items: center;
    width: 250px;
    align-self: flex-start;

    writing-mode: vertical-rl;
    text-orientation: mixed;
  }
  .main {
    flex-wrap: wrap;
    flex-direction: row;
  }
  .side-info {
    width: 100%;
  }
  .article {
    width: calc(100% - 250px);
  }
}

@media (min-width: 1024px) {
  .article {
    width: calc(100% - 500px);
  }
  .side-info {
    order: 0;
    display: flex;
    align-items: center;
    width: 250px;

    writing-mode: vertical-rl;
    text-orientation: mixed;
  }
}
