.table {
    border: 1px solid #000;
    border-collapse: collapse;
}
.cell {
    border: 1px solid #000;
    padding: 10px;
}
td:nth-child(2)::after {
    content: ":";
}
input, textarea, select, button {
    padding: 5px;
}
.table :nth-child(n) {
    text-transform: capitalize;
}