.container {
    width: 100%;
    height: 100%;
    background: url(../img/background-img.png);
    background-size: cover;
    background-position: center;
}
.header {
    background: #00000066;
    padding: 18px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header :nth-child(n) {
    color: #fff;
}
.logo-name {
    font-size: 22px;
}
.welcome-block {
    display: flex;
    align-items: center;
}
.welcome-wrapper {
    padding-left: 27px;
    border-left: 1px solid #fff;
}
.icons-wrapper > :nth-child(n) {
    font-size: 24px;
    margin-right: 25px;
    cursor: pointer;
}
.welcome-wrapper :nth-child(n) {
    font-size: 14px;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 62px);
}
.sign-up_form {
    width: 445px;
    background: #fff;
    padding: 30px 60px 40px 60px;
    margin: 5px 0;
    position: relative;
    box-shadow: 0px 4px 18px 0px #00000085;
}
.form-header {
    display: flex;
    justify-content: space-between;
}
.form-sign-up {
    font-size: 20px;
    color: #434343;
}
.form-sign-up::before {
    content: " ";
    position: absolute;
    left: 0;
    width: 18px;
    height: 18px;
    background: #3CB878;
}
.form-log-in {
    font-size: 14px;
    color: #3CB878;
}
.btn-wrapper {
    padding: 15px 0 30px;
    display: flex;
    justify-content: space-between;
    position: relative;
    border-bottom: 1px solid #f2f2f2;
}
.btn {
    width: calc(50% - 3px);
    padding: 17px 0;
    text-align: end;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    position: relative;
    font-family: 'Ubuntu', sans-serif;
}
.btn-inner {
    display: inline-block;
    width: 110px;
    font-size: 16px;
    text-align: center;
}
.btn-inner::before {
    font-family: "Font Awesome 5 Brands";
    font-size: 24px;
    position: absolute;
    left: 0;
    top: 12px;
    width: 50px;
    text-align: center;
}
.fb-btn {
    background: #305DB8;
}
.google-btn {
    background: #DF4A32;
}
.facebook::before {
    content: "\f39e";
    border-right: 1px solid  #0A162F10;
}
.google::before {
    content: "\f0d5";
    border-right: 1px solid  #2B0D0910;
}

.btn-wrapper::after {
    content: "or";
    font-size: 14px;
    color: #848484;
    background: #fff;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.input {
    width: 100%;
    padding: 16px 20px;
    margin-top: 15px;
    border: 1px solid #f2f2f2;
    border-radius: 5px;
    font-family: 'Ubuntu', sans-serif;
    color: #434343;
    cursor: text;
    transition: 250ms;
}
.input::placeholder {
    font-size: 14px;
    color: #bebebe;
}
.input:focus {
    outline: none;
    box-shadow: 0px 3px 8px 0px #00000036;
    transition: 250ms;
}
.agree-form {
    width: fit-content;
    margin-top: 12px;
}
.agree-text {
    color: #434343;
    cursor: pointer;
}
.highlight {
    color: #3CB878;
}
.create-account {
    width: 100%;
    text-align: center;
    background: #3CB878CC;
    margin-top: 20px;
}