@import '../shortReset.scss';
@import '../variables_&_mixins.scss';

.footer {
    width: 100%;
    height: 50px;
    background-color: $dark-text-color;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 50px;
    position: relative;
    bottom: -100px;

    &__inner {
        color: $light-text-color;
        font-size: 12px;
        font-weight: 300;
    }
}