@import '../shortReset.scss';
@import '../variables_&_mixins.scss';

.header {
    width: 100%;
    height: 100px;
    background-position: center;
    background-size: cover;
    background-image: url(http://vamfaza.ru/wp-content/uploads/2019/09/140-23-1024x576.jpg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $main-padding;
    position: fixed;
    z-index: 1;
    box-shadow: 0 5px 8px $dark-text-color;

    &__title {
        color: $light-text-color;
        font-size: 45px;
        
        &:hover {
            cursor: pointer;
        }
    }

    &__link-list {
        display: flex;
        margin: 0 75px 0 35px;
    }

    &__link {
        font-size: 22px;
        font-weight: 600;
        text-transform: capitalize;
        color: $light-text-color;
        text-shadow: 0px 0px 3px #250a01;
        margin-right: 35px;

        &:hover {
            cursor: pointer;
        }
    }
}