.container {
    cursor: default;
    
    margin: 0 auto;
    margin-top: 40px;
    width: 500px;
    height: 400px;
    background-color: #f6f9fb;
    border: 1px solid #737b8b;
    box-shadow: 2px 3px 10px #737b8b;
    padding: 40px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ip-api-founder-btn {
    font-family: 'Nunito Sans', sans-serif;
    cursor: pointer;
    font-weight: 700;
    padding: 10px 30px;
    background-color: #f6f9fb;
    border-radius: 10px;
    border: 2px solid #737b8b;
    margin-bottom: 20px;
    font-size: 20px;
}

.response {
    font-family: 'Ubuntu', sans-serif;
    list-style: none;
    font-size: 26px;
    line-height: 1.5;
    padding: 0;
    margin: 0;

}