* {
    box-sizing: border-box;
}
body {
    display: flex;
}
h2 {
    font-size: 40px;
}

.container {
    width: 400px;
    margin-top: 20px;
    text-align: end;
    font-size: 24px;
    font-weight: 700;
}

.container.list {
    width: 100%;
    font-weight: 400;
    font-size: 16px;
}

.container.list > :nth-child(n) {
    text-align: start;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
    padding-left: 10px;
}

.removeBtn-js {
    background-color: rgb(14, 179, 14);
    font-size: 14px;
}
.removeBtn-js:hover {
    background-color: rgb(221, 49, 49);
}
@media (max-width: 700px) {
    body {
        flex-direction: column;
    }
}