html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Open Sans', sans-serif;
}
.header {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-wrapper {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.logo-wrapper :nth-child(n) {
    cursor: pointer;
}
.img-wrapper {
    height: 100%;
    width: 81px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-name {
    font-weight: 700;
    font-size: 22px;
}
.nav {
    width: 722px;
    font-size: 15px;
    font-weight: 600;
}
.nav-item_wrapper {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
}
.nav-link {
    transition: 500ms;
    cursor: pointer;
}
.nav-link:hover {
    color: #14B9D5;
}
.btn.channgeTheme-btn {
    font-size: 12px;
    width: 90px;
    height: 40px;
}
.search-wrapper {
    height: 100%;
    width: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.search-wrapper :nth-child(n) {
    cursor: pointer;
}

.latest-news {
    height: 369px;
    background-image: url(../img/header-bg.jpeg);
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.title {
    font-size: 27px;
    padding: 49px 0 52px;
    text-transform: uppercase;
}
.btns-wrapper {
    display: flex;
    justify-content: space-between;
    width: 360px;
    margin: 24px 0px 74px;
}
.btn {
    border: none;
    border-radius: 5px;
    width: 170px;
    height: 55px;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.popular-posts {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 1030px;
}
.blue-header {
    margin: 50px 0;
    text-transform: uppercase;
}
.posts-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    height: 895px;
    width: 1170px;
}
.posts-item {
    margin-bottom: 30px;
    cursor: pointer;
}
.posts-item :nth-child(n) {
    cursor: pointer;
}
.post-descr {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.popular-clients {
    height: 590px;
    background-image: url(../img/parallax-bg.jpeg);
    background-attachment: fixed;
    display: grid;
    grid-template-rows: 106px 44px 87px 3px 105px 52px 190px;
    grid-template-columns: 1fr 265px 197px 282px 141px 1fr;
}
.grid-title {
    margin: 0;
    text-align: center;
    grid-area: 2 / 2 / 3 / 6;
}
.popular-clients .title {
    font-size: 32px;
}
.line {
    display: inline-block;
    width: 60px;
    height: 3px;
    grid-area: 4 / 2 / 5 / 6;
    justify-self: center;
}
.brand {
    justify-self: start;
    align-self: center;
}
.brand:nth-of-type(1) {
    grid-area: 6 / 2 / 7 / 3;
}
.brand:nth-of-type(2) {
    grid-area: 6 / 3 / 7 / 4;
}
.brand:nth-of-type(3) {
    grid-area: 6 / 4 / 7 / 5;
}
.brand:nth-of-type(4) {
    grid-area: 6 / 5 / 7 / 6;
}

.top-rated {
    text-align: center;
}
.top-rated_items-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(268px, 1fr));
}

.hot-news {
    text-align: center;
    padding-bottom: 77px;
}
.defolt-shown {
    width: 1170px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 260px;
    grid-template-columns: 277px 35px 1fr 60px 1fr 35px 277px;
}
.defolt-hidden {
    width: 1170px;
    margin: 0 auto;
    grid-template-rows: 45px 420px 45px 420px 45px 260px;
    grid-template-columns: 277px 35px 1fr 60px 1fr 35px 277px;
    display: none;
}
.defolt-shown :nth-child(n), .defolt-hidden :nth-child(n) {
    cursor: pointer;
}
.show-more-btn {
    margin: 0 auto;
    margin-top: 45px;
    text-transform: capitalize;
}
.hot-news_item {
    padding: 0 15px;
    text-align: end;
}
.hot-news_item > .hot-news_info {
    font-size: 14px;
    font-weight: 600;
}
.item-1 .hot-news_item, .item-8 .hot-news_item{
    max-width: 374px;
    padding: 20px 25px 41px 0;
    text-align: end;
}
.item-1 .news-link, .item-8 .news-link {
    display: flex;
    flex-direction: row;
}
.single-header {
    margin: 8px 0;
}
.news-item_title {
    font-size: 18px;
    margin: 15px 0;
}
.item-1 {
    display: flex;
    grid-area: 1 / 1 / 2 / 6;
}
.item-2 {
    grid-area: 1 / 7 / 2 / 8;
}
.item-3 {
    grid-area: 2 / 1 / 3 / 4;
}
.item-4 {
    grid-area: 2 / 5 / 3 / 8;
}
.item-5 {
    grid-area: 4 / 1 / 5 / 4;
}
.item-6 {
    grid-area: 4 / 5 / 5 / 8;
}
.item-7 {
    grid-area: 6 / 1 / 7 / 2;
}  
.item-8 {
    grid-area: 6 / 3 / 7 / 8;
    display: flex;
}

.footer {
    height: 80px;
    display: grid;
    grid-template-columns: 1fr 1170px 1fr;
}
.footer-inner {
    grid-column: 2 / 3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.footer-info {
    font-size: 13px;
    font-weight: 400;
    margin: 0;
}
.footer-logo_name {
    padding-bottom: 8px;
}

.scroll_to_top-btn {
    width: 75px;
    height: 75px;
    position: fixed;
    right: 50px;
    bottom: 50px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: none;
    opacity: 0.7;
    transition: 500ms;
}
.scroll_to_top-btn:hover {
    opacity: 1;
    transition: 500ms;
}
.arrow {
    width: 35px;
    height: 35px;
    transform: rotate(45deg);
    margin: 0 auto;
    margin-top: 15px;
    border-radius: 5px;
    cursor: pointer;
}