.header {
    padding-top: 30px;
    position: relative;
}
.nav {
    top: 30px;
    padding: 40px 180px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-list {
    width: 600px;
    display: flex;
    justify-content: space-around;
}
.logo-name {
    font-weight: 300;
    font-size: 36px;
}
.logo-name .head-name {
    font-weight: 900;
}
.head-name {
    font-weight: 700;
    text-transform: uppercase;
    color: #14afca;
}
.header-list_item, .header-list_item :nth-child(n) {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15px;
    transition: 300ms;
}
.header-list_item :hover {
    color: #14afca;
    transition: 300ms;
}
.company-descr {
    color: #fff;
    text-transform: uppercase;
    font-size: 52px;
    text-align: center;
    padding: 130px 0 180px;
}
.section {
    padding: 0 120px;
    text-align: center;
}
.section .head-name {
    padding: 120px 0 10px;
    font-size: 60px;

}
.section .descr {
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 30px;
}
.section .info {
    display: inline-block;
    font-size: 16px;
    line-height: 30px;
    width: 990px;
    padding: 20px 0 90px;
}
.section:nth-of-type(2n) .descr {
    color: #fff;
}
.what {
    position: relative;
}
.what::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    border-top: 100px solid transparent;
    border-right: 50vw solid #fff;
    border-left: 50vw solid #fff;
}
.what::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(100%);
    border-top: 100px solid #fff;
    border-right: 50vw solid transparent;
    border-left: 50vw solid transparent;
}
.companies {
/*     background: url(../img/bg2.jpg);
    background-position: center center;
    background-size: cover; */
}
.info.companies-wrapper {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.companies-wrapper :nth-child(1), 
.companies-wrapper :nth-child(2), 
.companies-wrapper :nth-child(3), 
.companies-wrapper :nth-child(4) {
    margin-bottom: 50px;
}
.us-wrapper {
    display: flex;
    justify-content: space-around;
    padding-bottom: 130px;
}
.us-info {
    width: 310px;
    line-height: 28px;
}
.testimonials {
/*     background: url(../img/bg3.jpg);
    background-position: center center;
    background-size: cover; */
}
.text {
    font-style: italic;
    font-size: 16px;
    color: #D3CCCC;
    position: relative;
    padding-bottom: 210px;
}
.text::after {
    content: "- Shoaib Ahmed";
    color: #fff;
    font-style: italic;
    font-weight: 700;
    position: absolute;
    top: 60px;
    right: 250px;
}
.testimonials {
    position: relative;
}
.testimonials::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    transform: translateY(-100%);
    border-top: 100px solid transparent;
    border-right: 50vw solid #fff;
    border-left: 50vw solid #fff;
}
.testimonials::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 0;
    transform: translateY(100%);
    border-top: 100px solid #fff;
    border-right: 50vw solid transparent;
    border-left: 50vw solid transparent;
}
.formula {
    font-size: 30px;
    font-weight: 700;
}
.copyright {
    padding: 100px 0 90px;
}

.logo-name, .head-name, .info, .us-info, .formula {
    font-family: 'Roboto', sans-serif;
}