* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    cursor: default;
}
ul, li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}
a :nth-child(n) {
    cursor: pointer;
}