* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
body {
    width: 1280px;
    margin: 0 auto;
}
ul, li {
    list-style: none;
    display: inline-block;
}

nav {
    height: 78px;
    display: flex;
    justify-content: center;
}
.nav-item_wrapper {
    width: 620px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-item > a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    color:#FF0000;
}

main {
    text-align: center;
}
main > :nth-child(n) {
    margin: 0 auto;
    width: 1145px;
}
.main-content_wrapper > h2 {
    text-align: center;
    margin: 49px 0 38px;
}
.main-content_wrapper > .main-content {
    text-align: center;
}
.main-content_wrapper > p:last-of-type {
    margin: 28px 0 66px;
}
.main-content_wrapper > .btn {
    background-color: #FF0000;
    color: #FFF;
    font-weight: 700;
    width: 191px;
    height: 51px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    text-align: right;
}
.footer-info {
    font-weight: 700;
    margin: 82px 105px 29px 0;
}