* {
    text-transform: capitalize;
    text-decoration: none;
    cursor: inherit;
    color: #000;
}
ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
    font-weight: 700;
}
.navigation {
    width: 120px;
    position: relative;
}
.menu {
    display: inline-block;
    border-radius: 5px;
    padding: 15px 20px;
    background-color: green;
    border: 2px solid black;
    color: #fff;
    font-size: 20px;
    position: relative;
}
.menu::after {
    content: " ";
    display: none;
    /* display: inline-block; */
    height: 10px;
    width: 135px;
    position: absolute;
    top: 100%;
    left: 0;
}
.dropdown {
    display: none;
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
}
.dropdown-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    padding: 15px 20px;
    background-color: #e5e5e5;
    border: 1px solid #888;
}
.menu:hover .dropdown {
    display: inline-block;
    width: 120px;
}
.dropdown:hover {
    display: inline-block;
    width: 120px;
}
.menu:hover::after {
    display: inline-block;
}