@import '../shortReset.scss';

.header {
    width: 100%;
    height: 150px;
    background-position: center;
    background-size: cover;
    background-image: url(http://vamfaza.ru/wp-content/uploads/2019/09/140-23-1024x576.jpg);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 50px;

    &__title {
        color: #f1b254;
        font-size: 45px;
    }
}