@import '../shortReset.scss';

.footer {
    width: 100%;
    height: 50px;
    background-color: #080000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 50px;

    &__inner {
        color: #f1b254;
        font-size: 12px;
        font-weight: 300;
    }
}