body {
    height: 100%;
    overflow-x: hidden;
    text-transform: uppercase;
    color: #484848;
    font-family: 'Arimo', sans-serif;
}
td, th {
    text-align: center;
    vertical-align: middle;
}
th {
    padding: 20px 0;
}
td {
    border-bottom: 1px solid #c7c7c7;
    padding: 25px 0;
    width: 160px;
}
.table-wrapper {
    background: #3A4965;
    padding: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.table {
    border-collapse: collapse;
    margin-bottom: 15px;
}

.thead {
    font-size: 24px;
    color: #848484;
}
.tspace {
    width: 100%;
    height: 15px;
}
.choose-col {
    width: 200px;
}
.options-col {
    width: calc(160px * 6);
}
.main-cell {
    background: #FAFAFA;
    width: 200px;
}
.options-list {
    width: 160px;
}
.options, .choose, .price-plan {
    color: #484848;
}
.choose {
    font-size: 14px;
    font-weight: 700;
}
.price-plan {
    font-size: 20px;
}
.options-list:nth-of-type(2n) {
    background: #E3E3E3;
}
.options-list:nth-of-type(2n-1) {
    background: #F2F2F2;
}

.table-row > :nth-child(1) {
    color: #fff;
}
.table-row > :nth-child(2n) {
    background: #E3E3E3;
}
.table-row > :nth-child(2n+1) {
    background: #F2F2F2;
}
.main-col {
    width: 215px;
    padding: 25px;
    border: none;
}

.main-col.standard {
    background: #89C331;
}
.main-col.ultimate {
    background: #F04A56;
}
.main-col.premium {
    background: #20807C;
}
.plan-name {
    font-size: 24px;
}
.price {
    font-size: 36px;
    font-weight: 700;
}
.price > .sup-text {
    font-size: 18px;
}
.per-month {
    font-size: 14px;
    font-weight: 700;
}

.buy-btn {
    width: 150px;
    margin-top: 15px;
    background: #414141;
    color: #fff;
    text-transform: uppercase;
    padding: 18px 0 10px;
    border-radius: 10px;
    border-bottom: 8px solid #343434;
    font-size: 16px;
    font-weight: 700;
}