* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.modal {
    &__wrapper {
        z-index: 1;
        position: fixed;
        background-color: #00000090;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
    }
    
    &__inner {
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
        width: 600px;
        height: 400px;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        


        .btns-collection {
            display: flex;
            justify-content: center;
        }

        .button {
            color: #fff;
        }
    }

    &__header {
        padding: 20px;
        position: relative;
        
        .close-icon {
            position: absolute;
            font-size: 25px;
            top: 25px;
            right: 20px;
        }
    }

    &__text {
        padding: 0 50px;
        text-align: center;
        font-size: 30px;
    }

    &__add {
        background-color: #561d03;

        .modal__header {
            background-color: #461803;
        }

    }
    
    &__remove {
        background-color: #743700;
        
        .modal__header {
            background-color: #612e02;
        }
    }

}