@import '../shortReset.scss';

.product-card {
    background-color: #d97b24;
    min-width: 280px;
    width: 32%;
    margin-bottom: 15px;
    color: #080000;
    position: relative;
    display: flex;
    flex-direction: column;

    &__title {
        max-width: calc(100% - 40px);
        font-size: 20px;
    }
    
    &__img {
        margin-top: auto;
    }

    &__price {
        text-align: end;
        font-size: 20px;
        font-weight: 700;
        margin: 10px 0;
    }
    
    &__title, &__price, &__color {
        padding: 5px 10px;
    }
}