body {
    width: 1280px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}
header {
    margin: 63px 0 50px;
}
.logo {
    font-size: 80px;
    margin-bottom: 40px;
}
.blue-text {
    color: #4bcaff;
}
header nav {
    background-color: #35444F;
    color: #FFF;
    text-align: center;
}
.header_item-wrapper {
    display: inline-block;
}
.header_nav-item {
    font-size: 24px;
    display: inline-block;
    border-left: 1px solid #FFF;
    padding: 26px 40px 19px;
    transition: 500ms;
}
.header_nav-item:hover {
    background-color: #222F3A;
    transition: 500ms;
}

.container {
    display: flex;
    justify-content: space-between;
}

aside nav {
    border: 1px solid #000;
    width: 345px;
}
.aside_nav-item {
    padding: 25px 0px 25px 45px;
    font-size: 27px;
    color: #485863;
    transition: 500ms;
}
.aside_nav-item:hover {
    padding-left: 75px;
    color: #000;
    background-color: #DBDBDB;
    transition: 500ms;
}

main {
    width: 885px;
}
.img-wrapper {
    border: 1px solid #000;
    width: 100%;
    height: 530px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-img {
    transition: 500ms;
}
.main-img:hover {
    transform: scale(1.1)
}
.article-content {
    font-size: 18px;
}

footer {
    background: #63696E7A;
    padding: 0px 40px;
    margin-bottom: 30px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer_item-wrapper {
    font-size: 28px;
    width: 920px;
    display: flex;
    justify-content: space-between;
}
.footer_nav-item {
    color: #000;
    border: none;
    transition: 500ms;
}
.footer_nav-item:hover {
    color: #3181a6;
    border-bottom: 1px solid #3181a6;
    transition: 500ms;
}
.footer-info {
    font-size: 24px;
}