* {
    cursor: default;
}
html::-webkit-scrollbar, .container::-webkit-scrollbar {
    display: none;
}
body, ul, li {
    margin: 0;
    padding: 0;
}
ul, li {
    list-style: none;
}
h2 {
    font-size: 27px;
    margin: 0;
}
h3 {
    margin: 20px 0 22px;
}
p, button{
    font-weight: 600;
}
a {
    text-decoration: none;
    color: #000;
}