.container {
    height: 100vh;
    overflow: hidden;
    overflow-y: auto;
    perspective: 3px;
    position: relative;
}
.top-rated, .hot-news {
    background-color: #fff;
    padding: 1px;
}
.container-inner {
    background-size: cover;
}
.container-inner.inner-img {
    background-position: center center;
    transform: translateZ(-1px) scale(1.5);
    background-size: cover;
    z-index: -1;
    height: 100vh;
    width: 100vw;
    position: absolute;
}
.latest-news-img {
    background-image: url(../img/header-bg.jpeg);
}
.popular-clients-img {
    background-image: url(../img/parallax-bg.jpeg);
}