body {
    font-family: 'Open Sans', sans-serif;
}
.header {
    height: 70px;
    background: #313131;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-wrapper {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.logo-wrapper :nth-child(n) {
    cursor: pointer;
}
.img-wrapper {
    height: 100%;
    width: 81px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-name {
    font-weight: 700;
    font-size: 22px;
    color: #fff;
}
.nav {
    width: 722px;
    font-size: 15px;
    font-weight: 600;
}
.nav-item_wrapper {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
}
.nav-link {
    transition: 500ms;
    cursor: pointer;
    color: #fff;
}
.nav-link:hover {
    color: #14B9D5;
    transition: 500ms;
}
.search-wrapper {
    height: 100%;
    width: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000000;
    cursor: pointer;
}
.search-wrapper :nth-child(n) {
    cursor: pointer;
}
.latest-news {
    height: 369px;
    /* background-image: url(../img/header-bg.jpeg);
    background-position: center;
    background-attachment: fixed; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.title {
    font-size: 27px;
    margin: 49px 0 52px;
    color: #fff;
    text-transform: uppercase;
}
.btns-wrapper {
    display: flex;
    justify-content: space-between;
    width: 360px;
    margin: 24px 0px 74px;
}
.btn {
    border: none;
    border-radius: 5px;
    width: 170px;
    height: 55px;
    font-size: 18px;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.green-btn {
    background: #89CA62;
}
.blue-btn {
    background: #14B9D5;
}
.popular-posts {
    background: #F2F2F2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 1030px;
}
.blue-header {
    color: #18B4CF;
    margin: 50px 0;
    text-transform: uppercase;
}
.posts-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    height: 895px;
    width: 1170px;
}
.posts-item {
    margin-bottom: 30px;
    background-color: #fff;
    cursor: pointer;
}
.posts-item :nth-child(n) {
    cursor: pointer;
}
.post-descr {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}
.popular-clients {
    height: 590px;
    /* background-image: url(../img/parallax-bg.jpeg);
    background-attachment: fixed; */
    display: grid;
    grid-template-rows: 106px 44px 87px 3px 105px 52px 190px;
    grid-template-columns: 1fr 265px 197px 282px 141px 1fr;
}
.grid-title {
    margin: 0;
    text-align: center;
    grid-area: 2 / 2 / 3 / 6;
}
.popular-clients .title {
    font-size: 32px;
}
.line {
    display: inline-block;
    width: 60px;
    height: 3px;
    background: #18B4CF;
    grid-area: 4 / 2 / 5 / 6;
    justify-self: center;
}
.brand {
    justify-self: start;
    align-self: center;
}
.brand:nth-of-type(1) {
    grid-area: 6 / 2 / 7 / 3;
}
.brand:nth-of-type(2) {
    grid-area: 6 / 3 / 7 / 4;
}
.brand:nth-of-type(3) {
    grid-area: 6 / 4 / 7 / 5;
}
.brand:nth-of-type(4) {
    grid-area: 6 / 5 / 7 / 6;
}
.top-rated {
    text-align: center;
}
.blue-title {
    color: #18B4CF;
}
.top-rated_items-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(268px, 1fr));
}
.hot-news {
    text-align: center;
    margin-bottom: 77px;
}
.hot-news_items-wrapper {
    width: 1170px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 260px 45px 420px 45px 420px 45px 260px;
    grid-template-columns: 277px 35px 1fr 60px 1fr 35px 277px;
}
.hot-news_items-wrapper :nth-child(n) {
    background: #F9F7F7;
    cursor: pointer;
}
.hot-news_item {
    padding: 0 15px;
    text-align: end;
}
.hot-news_item > .hot-news_info {
    font-size: 14px;
    font-weight: 600;
}
.item-1 .hot-news_item, .item-8 .hot-news_item{
    max-width: 374px;
    padding: 20px 25px 41px 0;
    text-align: end;
}
.item-1 .news-link, .item-8 .news-link {
    display: flex;
    flex-direction: row;
}
.single-header {
    margin: 8px 0;
}
.news-item_title {
    font-size: 18px;
    margin: 15px 0;
}

.item-1 {
  display: flex;
  grid-area: 1 / 1 / 2 / 6;
}
.item-2 {
    grid-area: 1 / 7 / 2 / 8;
}
.item-3 {
  grid-area: 3 / 1 / 4 / 4;
}
.item-4 {
  grid-area: 3 / 5 / 4 / 8;
}
.item-5 {
  grid-area: 5 / 1 / 6 / 4;
}
.item-6 {
  grid-area: 5 / 5 / 6 / 8;
}
.item-7 {
  grid-area: 7 / 1 / 8 / 2;
}  
.item-8 {
  grid-area: 7 / 3 / 8 / 8;
  display: flex;
}

.footer {
    height: 80px;
    background: #000;
    color: #fff;
    display: grid;
    grid-template-columns: 1fr 1170px 1fr;
}
.footer-inner {
    grid-column: 2 / 3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.footer-info {
    font-size: 13px;
    font-weight: 400;
    margin: 0;
}
.footer-logo_name {
    padding-bottom: 8px;
}