@keyframes move {
    from {top: 100vh;}
    to {top: -70vh;}
}
body {
    margin: 0;
    background-color: #000;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}
.container {
    margin: 0 auto;
    width: 50%;
    transform: perspective(300px) rotateX(35deg);
}
.inner {
    position: relative;
    animation: move 30s infinite linear;
}
.container :nth-child(n) {
    color: #eec400;
    font-weight: bold;
}
h1 {
    text-align: center;
    font-size: 80px;
}
h2 {
    text-align: center;
    font-size: 55px;
}
p {
    font-size: 39px;
}
