* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    /* overflow: hidden; */
}
.text {
    font-size: 20px;
}
.container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.container-inner {
    grid-area: 2 / 2 / 3 / 3;
    width: 100%;
    height: 500px;
    border-radius: 15px;
    background-color: #fff;
    padding: 40px;
    position: relative;
    box-shadow: 10px 10px 12px #00000070;
    display: grid;
    grid-template-rows: auto 1fr 70px;
}
.title {
    text-transform: capitalize;
    text-align: center;
}
.close-icon {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 15px;
}
.close-icon:active {
    top: 17px;
}
.scroll-text {
    font-size: 16px;
    /* height: calc(100% - 37px - 65px); */
    /* height: 60%; */
    overflow: auto;
}
.btn-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 65px;
    padding: 10px;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.5);
    border-radius: 0 0 15px 15px;
}
.btn {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    border-radius: 22px;
    width: 100%;
    border: none;
    padding: 10px;
    position: relative;
    background: linear-gradient(to right, green, yellowgreen);
}
.btn:hover {
    background: linear-gradient(to left, green, yellowgreen);
}
.btn:active {
    top: 2px;
}


.container-flex {
    display: flex;
    flex-direction: column;
    padding-bottom: 70px;
}
/* .container-flex .btn-wrapper {
    position: static;
    margin: 0 -40px 0 -40px;
} */