* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    cursor: default;
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    background: #5E5D5860;
    width: 100%;
    height: 120px;
    position: fixed;
    z-index: 1;
}
.header .container {
    width: 1160px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.figure {
    margin: 20px 0; 
    width: 60px; 
    height: 35px;
    background: #18CFAB;
    position: relative;
}
.figure:before, .figure:after {
    content: "";
    width: 0; 
    height: 0;
    position: absolute; 
    left: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
}
.figure:before {
    top: -15px;
    border-bottom: 15px solid #18CFAB;
}
.figure:after {
    bottom: -15px;
    border-top: 15px solid #18CFAB;
}

.logo {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 40px;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.logo-name {
    font-size: 32px;
    font-weight: 400;
    color: #fff;
    margin-left: 6px;
}
.highlight {
    font-weight: 700;
    text-transform: uppercase;
    color: #18CFAB;
}
.header-items-wrapper {
    display: flex;
}
.header-item :nth-child(n) {
    margin-left: 6px;
    padding: 0 10px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 16px;
    color: #fff;
    border-bottom: none;
    transition: 500ms;
    height: 120px;
}
.header-item :nth-child(n):hover {
    color: #18CFAB;
    border-bottom: 1px solid #18CFAB;
    transition: 500ms;
}

.start-block {
    background-image: url('./img/StepProjectHam/SectionsBackground/section-1.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 1012px;
}
.start-block .container {
    width: 800px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.description {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}
.description:nth-of-type(1) {
    font-weight: 700;
    font-size: 35px;
}
.description:nth-of-type(2) {
    font-weight: 700;
    font-size: 78px;
}
.description:nth-of-type(3) {
    font-weight: 300;
    font-size: 35px;
    text-transform: capitalize;
}
.btn {
    width: 170px;
    height: 63px;
    border: none;
    border-radius: 5px;
    border-top: 5px solid #fff;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
}
.green-btn {
    background: #18CFAB;
    margin-right: 25px;
}
.blue-btn {
    background: #00CBF6;
}
.options {
    padding: 10px 0;
    display: flex;
}
.options > :nth-child(2n-1) {
    background: #1C2A33;
}
.options > :nth-child(2n) {
    background: #18CFAB;
}
.option {
    flex-direction: column;
    width: 25%;
    height: 377px;
}
.option-name {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 50px;
}

.service {
    width: 1160px;
    margin: 0 auto;
    padding: 85px 0 95px;
}
.head {
    font-size: 36px;
    font-weight: 400;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 100px;
    position: relative;
}
.head::before, .head::after {
    content: '';
    position: absolute;
    background: #18CFAB;
    width: 80px;
    height: 2px;
}
.head::before {
    bottom: -30px;
    right: 50%;
    transform: translateX(50%);
}
.head::after {
    bottom: -35px;
    right: 50%;
    transform: translateX(calc(50% + 10px));
}
.service-items-wrapper {
    width: 100%;
    display: flex;
}
.service-item {
    font-weight: 400;
    font-size: 16px;
    color: #717171;
    background: #F8FCFE;
    border: 1px solid #EDEFEF;
    width: inherit;
    height: 72px;
    transition: 500ms;
}
.service-item:hover {
    border: 1px solid #18CFAB;
    transition: 500ms;
}
.service-item.active {
    background: #18CFAB;
    border: 1px solid #18CFAB;
    color: #fff;
    position: relative;
}
.service-item.active::after {
    content: '';
    position: absolute;
    bottom: -15px;
    right: 50%;
    transform: translateX(50%);

    width: 0;
    height: 0;
    border-right: 16px solid transparent;
    border-left: 16px solid transparent;
    border-top: 15px solid #18CFAB;
}
.service-description {
    margin-top: 25px;
}
.description-img {
    margin-right: 15px;
    float: left;
    width: 192px;
    height: 139px;
}
.description-info {
    font-weight: 300;
    font-size: 14px;
    line-height: 25px;
    color: #777777;
}

.purchase-block {
    height: 476px;
    background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('./img/StepProjectHam/SectionsBackground/section-2.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 127px 0;
}
.offer {
    width: 1160px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.advertisment {
    color: #18CFAB;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 700;
}
.options {
    font-size: 16px;
    font-weight: 400;
    color: #D8D8D8;

}

.our-work {
    padding: 85px 0 95px;
    background: #E9EDEF;
}
.our-work .container {
    width: 1160px;
    margin: 0 auto;
    text-align: center;
}
.works-items-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}
.work-item-name {
    font-weight: 400;
    font-size: 14px;
    color: #717171;
    background: #E9EDEF;
    border: 1px solid #DADADA;
    padding: 15px 15px;
    transition: 250ms;
}
.work-item-name.active {
    border: 1px solid #18CFAB;
    color: #18CFAB;
    padding: 15px 30px;
    transition: 250ms;
}
.works-collection {
    margin: 70px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.work-item {
    width: 25%;
}
.work-item.hidden {
    display: none;
}
.design {
    flex-direction: column;
}
.work-item .highlight {
    font-size: 14px;
}
.work-item .text {
    font-size: 12px;
    font-weight: 300;
    line-height: 25px;
}
.work-item:first-of-type {
    border-top: 1px solid #18CFAB;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.our-work .btn {
    border-top: none;
}
.cross-icon {
    margin-right: 15px;
    height: 18px;
    transform: rotate(45deg);
}

.breaking-news {
    width: 1160px;
    margin: 0 auto;
    padding: 85px 0 95px;
}
.news-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.news-item {
    width: calc(25% - 25px);
    margin-bottom: 45px;
    position: relative;
    transition: 500ms;
}
.news-item::after {
    content: '12 Feb';
    position: absolute;
    box-sizing: border-box;
    top: 0;
    right: 0;
    width: 70px;
    height: 70px;
    padding: 5px 15px;
    background: #203E38;
    color: #fff;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    transition: 500ms;

}
.news-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 40px;
    color: #717171;
    padding-left: 20px;

}
.news-info {
    font-weight: 300;
    font-size: 14px;
    line-height: 40px;
    color: #777777;
    padding-left: 20px;
}

.news-item:hover .news-name {
    color: #18CFAB;
    transition: 500ms;
}
.news-item:hover::after {
    background: #18CFAB;
    transition: 500ms;
}

.say-about {
    padding: 100px 0;
    background-image: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(./img/StepProjectHam/SectionsBackground/section-3.jpg);
    background-size: cover;
    background-position: center;
    height: 853px;
}
.say-about .container {
    width: 1160px;
    margin: 0 auto;
    text-align: center;
}
.say-about .head {
    color: #fff;
}
.caruosel-wrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    
}
.comment-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width: 100%;
}
.comment-block::before {
    content: url(./img/icons/icon-quote.png);
    margin-bottom: 30px;
    font-size: 33px;
    color: #18CFAB;
}
.comment {
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    color: #BBBBBB;
}
.human .highlight {
    font-size: 16px;
    font-weight: 700;
    color: #18CFAB;
}
.human {
    font-size: 13px;
    font-weight: 300;
    line-height: 27px;
    color: #BBBBBB;
    margin: 37px 0;
}
.human-img {
    position: relative;
    display: inline-block;
}
.comment-block .human-img .photo {
    position: absolute;
    width: 143px;
    height: 142px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.other-human {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 485px;
    height: 70px;
    margin: 0 auto;
    margin-top: 37px;
}
.arrow {
    width: 30px;
    height: 30px;
    border: 1px solid #BBBBBB;
    color: #BBBBBB;
    background: none;
    transition: 500ms;
}
.arrow:hover {
    background: #18CFAB;
    color: #fff;
    border: none;
    transition: 500ms;
}
.other-human .human-img {
    position: relative;
    display: inline-block;
    transition: 500ms;
}
.human-img.active {
    transform: translateY(-10px);
    transition: 500ms;
}
.other-human .human-img .photo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.footer {
    height: 120px;
    font-weight: 300;
    font-size: 14px;
    background: #22353F;
    color: #aeaeae;
}

.header-item :nth-child(n), .service-item:hover, .work-item-name:hover, .news-item:hover, .news-item:hover :nth-child(n), .arrow:hover, .arrow:hover :nth-child(n), .human-img:hover, .human-img :nth-child(n):hover {
    cursor: pointer;
}