@import '../shortReset.scss';
@import '../variables_&_mixins.scss';

.main {
    min-height: calc(100vh - 150px);
    background-color: $dark-background-color;
    padding: $main-padding;
    position: relative;
    top: 100px;
    
    &__title {
        text-transform: capitalize;
        color: $light-background-color;
    }

    &__products-wrapper {
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        max-width: 1024px;
        padding-top: 20px;
    }
}