* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .button {
        padding: 15px 25px;
        border-radius: 10px;
        margin: 10px;
        text-transform: capitalize;
    }
    
    .openModalBtn {
        font-size: 20px;
        text-transform: uppercase;
    }

    .modal-wrapper {
        position: fixed;
        background-color: #00000070;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
    }
    
    .modal-inner {
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
        width: 600px;
        height: 400px;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        .header {
            padding: 20px;
            position: relative;
            
            .close-icon {
                position: absolute;
                font-size: 25px;
                top: 25px;
                right: 20px;
            }
        }

        .text {
            padding: 0 50px;
            text-align: center;
        }

        .btns-collection {
            display: flex;
            justify-content: center;
        }

        .button {
            color: #fff;
        }
    }

    .redModal {
        background-color: #ff4242;
        
        .header {
            background-color: #d53737;
        }
        
    }
    
    .greenModal {
        background-color: #009688;
        
        .header {
            background-color: #04766b;
        }
    }
}