main {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
}
.cell {
    border: 3px solid black;
    margin: 3px;
}
.cell img {
    height: 100%;
    width: 100%;
    display: none;
}