* {
    box-sizing: border-box;
}
.price-wrapper {
    display: inline-block;
    width: 200px;
    margin: 20px;
}
.price-wrapper > :nth-child(n) {
    width: 100%;
    margin-top: 15px;
}
.input {
    padding: 5px 20px;
    font-weight: 600;
    border: 2px solid #aaa;
    border-radius: 10px;
    box-shadow: 0 0 5px;
}
input:focus {
    outline: none;
}
.input-focus {
    border: 2px solid green;
    box-shadow: green 0 0 7px;
}
.green-text {
    color: green;
}
.red-text_highlight {
    color: red;
    border: 2px solid red;
}
.alert-message {
    display: none;
}
.alert-message-shown {
    display: inline-block;
    font-weight: 700;
    color: #fff;
    background-color: red;
    border-radius: 5px;
    padding: 5px 20px;
}
.current-price {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #e2e2e2;
    border-radius: 20px;
    padding: 10px;
}
.close-btn {
    text-align: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #e2e2e2;
    background-color: #fff;
    font-weight: 600;
    cursor: pointer;
}