body {
    height: 100%;
    overflow-x: hidden;
    text-transform: uppercase;
    color: #484848;
    font-family: 'Arimo', sans-serif;
}
.table-wrapper {
    background: #3A4965;
    padding: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.table {
    width: 1143px;
    height: 684px;
    border-collapse: collapse;
}
td, th {
    border: 1px solid #c7c7c7;
}
th {
    padding: 20px;
}
.col-options-descr {
    width: 315px;
}
.thead {
    background: #FAFAFA;
}
.choose, .price-plan {
    font-weight: 700;
}
.choose {
    font-size: 18px;
}
.price-plan {
    font-size: 30px;
}
.price-plan_name {
    color: #fff;
    font-weight: 700;
    font-size: 24px;
    padding: 25px;
    width: 280px;
    border: none;
}
.standart-green {
    background: #89C331;
}
.ultimate-rose {
    background: #F04A56;
}
.premium-blue {
    background: #20807C;
}

.price-wrapper {
    position: relative;
    padding: 20px 35px;
    text-align: start;
}
.price {
    font-weight: 700;
    font-size: 60px;
}
.sup-text {
    font-weight: 700;
    font-size: 24px;
    position: absolute;
    top: 15px;
}
.per-month {
    font-weight: 400;
    font-size: 18px;
    position: absolute;
    transform: translateY(100%);
    right: 45px;
}
.btns {
    padding: 18px 0 8px;
    text-align: center;
    border-radius: 5px;
    width: 195px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
}
.btns.standart-green {
    border-bottom: 10px solid #79B027;
}
.btns.ultimate-rose {
    border-bottom: 10px solid #DF3A46;
}
.btns.premium-blue {
    border-bottom: 10px solid #16736F;
}
.contact-btn {
    background: #484848;
    border-bottom: 10px solid #404040;
}
.btns-wrapper {
    padding: 30px;
    text-align: center;
    background: #fff;
}
.table-footer > :nth-child(1) {
    background: #DDDDDD;
}
.table-footer > :nth-child(2n) {
    background: #EEEEEE;
}
.table-footer > :nth-child(3) {
    background: #F4F4F4;
}

.tbody > :nth-child(2n-1) {
    background: #F2F2F2;
}
.tbody > :nth-child(2n) {
    background: #E3E3E3;
}
.tbody {
    text-align: center;
}
.icon {
    font-size: 24px;
    color: #848484;
}