$blue-color: #50C9F5;
$red-color: #DF4142;

@mixin title ($span-color) {
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 26px;

    span {
        color: $span-color;
    }
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.first-block {
    background-color: #f9fafc;
    padding: 200px 200px 250px 200px;
    
    &__title {
        @include title($blue-color);
    }
}

.first-block__time {
    font-size: 64px;
    font-weight: 700;
    display: block;
    color: $blue-color;
}

.second-block {
    padding: 200px 200px 250px 200px;

    &__title {
        @include title($red-color);
        width: 375px;
    }
}