@import 'mixin';
@import 'constants';

.footer {
    display: flex;
    align-items: center;
    justify-content: center;

    background: #000000;
    padding-bottom: 70px;
    padding-top: 66px;
    
    &__container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 680px;
        

        &__title {
            @include title;
            color: #FEFEFE;
        }

        &__info {
            font-size: 16px;
            line-height: 28px;
            color: #B9B9B9;
            text-align: center;
        }

        &__social-icons {
            margin: 37px 0 34px;
        }

        &__contacts {
            color: #B9B9B9;
        }
    }
}

@media (max-width: 767px) {
    .footer {
        
        &__container {
            width: 235px;
            
    
            &__title {
                @include mobile-title;
                color: #FEFEFE;
            }
    
            &__info {
                font-size: 12px;
                line-height: 20px;

                &--mobile-hidden {
                    display: none;
                }
            }
    
            &__contacts {
                color: #B9B9B9;
                font-size: 14px;
                line-height: 24px;
                text-align: center;
                width: 200px;
            }
        }
    }
}