@import 'mixin';
@import 'constants';

.header {
    @include block-width;

    &__nav {
        margin: 30px 0 35px;
        padding: 16px 180px;

        &__menu {
            display: none;
        }

        &__items-wrapper {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        &__item {
            text-transform: uppercase;
            color: $dark-gray-color;
            transition: 500ms;
            
            &:hover {
                color: #57A4A4;
                transition: 500ms;
            }
        }
    }
}

@media (max-width: 1199px) {
    .header {
        @include tablet-block-width;
    
        &__nav {
            margin: 30px 0 35px;
            padding: 16px 80px;
        }
    
        &__nav__items-wrapper {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    
        &__nav__item {
            text-transform: uppercase;
            color: $dark-gray-color;
        }

        &__img {
            width: 768px;
        }
    }
}

@media (max-width: 767px) {
    .header {
        @include mobile-block-width;
    
        &__nav {
            margin: 23px 0;
            padding: 0;
            text-align: right;
            position: relative;

            &__menu {
                display: inline;
                margin-right: 25px;
                background-color: #000;
                font-size: 20px;
                color: #fff;
                border: none;
                width: 44px;
                height: 37px;
            }
        }
    
        &__nav__items-wrapper {
            display: inline-block;
            position: absolute;
            right: 25px;
            top: 37px;
            width: 182px;

            &--hidden {
                display: none;
            }
        }

        &__nav__item {
            font-size: 11px;
            line-height: 22px;
            padding: 5px 15px;
            background-color: #f5f5f5;
            text-align: start;
            transition: 500ms;

            &:hover {
                background-color: #e5e5e5;
                transition: 500ms;
            }
        }

        &__img {
            width: 320px;
        }
    }
}