@import 'mixin';

.instagram-shots {
    background-color: #f7f7f7;
    padding: 47px 0;
    
    &__container {
        @include block-width;
        position: relative;

        &__title {
            @include title;
            display: inline-block;

            &--go-to {
                position: absolute;
                right: 0;
            }
        }

        &__imgs-wrapper {
            display: flex;
            justify-content: space-between;
        }
    }
}

@media (max-width: 1199px) {
    .instagram-shots {

        
        &__container {
            @include tablet-block-width;
    
            &__imgs-wrapper {
                display: flex;
                justify-content: space-between;

                & :nth-child(n) {
                    width: 249px;
                }

                & :nth-last-child(1) {
                    display: none;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .instagram-shots {
        
        &__container {
            @include mobile-block-width;
            margin-left: 25px;
    
            &__title {
                @include mobile-title;
                display: inline-block;
    
                &--go-to {
                    display: none;
                }
            }
    
            &__imgs-wrapper {

                & :nth-child(n) {
                    display: none;
                }
                
                & :nth-child(1) {
                    display: block;
                }
            }
        }
    }
}