@import 'constants';

@mixin block-width {
    width: 1170px;
    margin: 0 auto;
}

@mixin tablet-block-width {
    width: 786px;
    margin: 0 auto;
}

@mixin mobile-block-width {
    width: 320px;
    margin: 0 auto;
}

@mixin title {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 25px;
    text-transform: uppercase;
    color: $dark-gray-color;
}

@mixin mobile-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 25px;
    text-transform: uppercase;
    color: $dark-gray-color;
}