@import 'mixin';
@import 'constants';

.recent-posts {
    @include block-width;
    margin-top: 70px;
    margin-bottom: 38px;

    &__title {
        @include title;
    }

    &__container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        &__item-wrapper {
            display: flex;
            max-width: calc(50% - 13px);
            margin-bottom: 32px;

            &:nth-of-type(1) {
                order: 1;
            }
            
            &:nth-of-type(2) {
                order: 3;
            }

            &:nth-of-type(3) {
                order: 2;
            }
            
            &:nth-of-type(4) {
                order: 4;
            }
    
            &__description {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                margin-left: 20px;
    
                &__title {
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 30px;
                    color:  $dark-gray-color;
                }
    
                &__comments {
                    font-size: 12px;
                    line-height: 20px;
                    color: $light-gray-color;
                }
    
                &__info {
                    font-size: 14px;
                    line-height: 26px;
                    color: $middle-gray-color;
                }
            }
        }
    }
}

@media (max-width: 1199px) {
    .recent-posts {
        @include tablet-block-width;
        margin-top: 70px;
        margin-bottom: 38px;
    
        &__title {
            @include title;
        }
    
        &__container {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
    
            &__item-wrapper {
                display: flex;
                max-width: 556px;
                margin-bottom: 32px;

                &:nth-of-type(2) {
                    order: 2;
                }
    
                &:nth-of-type(3) {
                    order: 3;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .recent-posts {
        @include mobile-block-width;
        margin-top: 70px;
        margin-bottom: 38px;
        margin-left: 25px;
    
        &__title {
            @include mobile-title;
        }
    
        &__container {
            flex-direction: column;
    
            &__item-wrapper {
                flex-direction: column;
                max-width: 95%;
                margin-bottom: 28px;

                &:nth-of-type(4) {
                    display: none;
                }

                &__img {
                    width: 160px;
                    margin-bottom: 11px;
                }
        
                &__description {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    margin-left: 0;
        
                    &__title {
                        font-size: 14px;
                    }
        
                    &__info {
                        display: none;
                    }
                }
            }
        }
    }
}