@import '../shortReset.scss';
@import '../variables_&_mixins.scss';

.product-card {
    background-color: $light-background-color;
    min-width: 280px;
    max-width: 30%;
    margin: 0 15px 15px 0;
    color: $dark-text-color;
    position: relative;
    display: flex;
    flex-direction: column;

    &__title {
        max-width: calc(100% - 40px);
        font-size: 20px;
    }
    
    &__img {
        margin-top: auto;
    }

    &__price {
        text-align: end;
        font-size: 20px;
        font-weight: 700;
        margin: 10px 0;
    }
    
    &__title, &__price, &__color {
        padding: 5px 10px;
    }
}