@import '../shortReset.scss';

.button {
    border: none;
    background-color: #00000000;
    cursor: pointer;

    &__selected {
        position: absolute;
        right: 10px;
        top: 10px;
    }
    
    &__icon {
        font-size: 20px;
    }

    &__cart {
        position: absolute;
        left: 10px;
        bottom: 10px;
        border: 1px solid #2e220f;
        padding: 5px;
        padding-right: 35px;
        border-radius: 5px;
        max-width: 130px;

        &--icon {
            position: absolute;
            right: 10px;
            top: 0;
            transform: translateY(50%);
        }
    }
}

.modal__button {
    border-radius: 10px;
    padding: 10px 15px;
    margin-bottom: 20px;
    margin-left: 10px;
    font-size: 20px;
    
    &--add {
        background-color: #461803;
        border: 2px solid #2d0f02;
    }
    
    &--remove {
        background-color: #612e02;
        border: 2px solid #442103;
    }

}