@import '../shortReset.scss';

.main {
    min-height: calc(100vh - 200px);
    background-color: #2e220f;
    padding: 20px;

    &__products-wrapper {
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 1024px;
    }
}